.page {
    display:contents;
    text-align: center;
}
.container2{
    width: 100vw;
     height: 100vh;
     align-items: center;
     justify-content: center;
     background-color: #e1ebfb;
     display: flex;
   }

.mainDiv {
  flex: 2;
  color: #2379eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainDiv2 {
    color: #6d7075;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

.container {
  background-color: #e6f3ff;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
 
.login2 {
    display: flex;
    width: 75%;
    height: 75%;
}
 
.title {
    align-items: center;
    letter-spacing: 0;
    width: 750px;
    top: 20px;
    font-size: 55px;
}
 
.username {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    left: 90px;
    top: 130px;
}

.logForm1 {
    justify-content: space-between;
    height: 800px;
    flex-direction: column;
    padding: 25px;
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.loginBut3 {
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    align-self: center;
    background-color: #c7f3e3;
    color: rgb(36, 73, 182);
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    width: 45%;
    margin: auto;
    
}

.input1 {
    border-radius: 5px;
    height: 45px;
    border: 1px solid rgb(79, 99, 232);
    font-size: 15px;
    padding-left: 18px;
}
 
.label {
    font-size: 25px;
    font-weight: 600;
    float: left;
    margin-right: 1em;
    text-align: left;
}
 
.loginbutton {
    height: 45px;
    border-radius: 9px;
    background-color: #146de2;
    font-size: 22px;
    cursor: pointer;
    color: white;
    font-weight: 475;
}
 
.create {
    display: flex;
    padding: 30px 10px;
    width: 520px;
    height: 80px;
    position: absolute;
    left: 90px;
    top: 300px;
}

.dropC {
    text-align: center;
    border: 1px solid rgb(55, 110, 249);
    position: relative;
    border-radius: 3px;
  }
  
.dropI {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }