<!DOCTYPE html>
<html>
<body>
	<!-- This is a simple example template with a form that has a single input field. 
		   You'll need something similar for the login page -->
  <h1>Dictionary lookup</h1>
  <form action="/results" method="post">
    <input type="text" name="myInputField">
    <input type="submit" value="Search">
  </form>
</body>
</html>
